<h1>New User</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

<div><%= link "Cancel", to: Routes.user_path(@conn, :index),
    class: "cancel-link" %></div>
